.d-sm-flex.flex-sm-column.p-sm-4
  = form_for([@category, @category.tasks.build]) do |f|
    .form-group
      = f.label :description, class: "form-label"
      = f.text_field :description, class: "form-control"
    .form-group
      = f.label :due_date, class: "form-label"
      = f.date_field :due_date, class: "form-control"
    .form-group
      = f.label :status, class: "form-label"
      .form-check
        = f.radio_button :status, "unfinished", :checked => true, class: "form-check-input"
        = f.label :status_unfinished if false
        %label{:for => "task_status_unfinished", class: "form-check-label"} Unfinished
      .form-check
        = f.radio_button :status, "in_progress", class: "form-check-input"
        = f.label :status_in_progress if false
        %label{:for => "task_status_in_progress", class: "form-check-label"} In Progress
      .form-check
        = f.radio_button :status, "completed", class: "form-check-input"
        = f.label :status_completed if false
        %label{:for => "task_status_completed", class: "form-check-label"} Completed
    .actions
      = f.submit
