<%= form_for([@category, @category.tasks.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_field :due_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />

    <%= f.radio_button :status, "unfinished", :checked => true %>
    <%= f.label :status_unfinished if false %>
    <label for="task_status_unfinished">Unfinished</label><br />

    <%= f.radio_button :status, "in_progress" %>
    <%= f.label :status_in_progress if false %>
    <label for="task_status_in_progress">In Progress</label><br />

    <%= f.radio_button :status, "completed" %>
    <%= f.label :status_completed if false %>
    <label for="task_status_completed">Completed</label><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
