%p#notice= notice

= form_for :query, url: categories_path, method: :get do |f|
  .form-group
    = f.text_field :title, placeholder: 'Search Categories (title or description)', value: params.dig('query', 'title'), class: "form-control"
  .actions
    = f.submit 'Search'

= link_to 'New Category', new_category_path, class: "btn btn-primary", data: { bs_toggle: 'modal', bs_target: '#newCategoryModal', remote: true }

-# Modal
#newCategoryModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newCategoryModalLabel", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#newCategoryModalLabel.modal-title New Category
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      #newCategoryForm

%h1 Categories
- @categories.each do |category|
  = render 'category', category: category
