%p#notice= notice

= form_for :query, url: categories_path, method: :get do |f|
  .form-group
    = f.text_field :title, placeholder: 'Search Categories (title or description)', value: params.dig('query', 'title'), class: "form-control"
  .actions
    = f.submit 'Search'

%h1 Categories
- @categories.each do |category|
  %h4= link_to category.title, category
  %h6= category.description
  .btn-group
    = button_to 'Edit', edit_category_path(category), method: :get, class: "btn btn-primary"
    = button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
  %table.table.table-bordered.table-hover.table-dark
    %thead
      %tr
        %th Task
        %th Due Date
        %th Status
        %th{:colspan => "3"}
    %tbody
      - category.tasks.each do |task|
        %tr
          %td= task.description
          %td= task.due_date
          %td= task.status
          %td
            = link_to 'Destroy', [task.category, task], confirm: 'Are you sure?', method: :delete
