<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @category.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<h2>Tasks</h2>
<%= render @category.tasks %>

<h2>Add a task:</h2>
<%= render "tasks/form" %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
